.dashboard{
    margin: 30px;
    width: 95vw;
}

.left-panel {
    display: inline-block; 
    float: left;
    width: 30%;
    width: 30%;
    height: 80vh;
    vertical-align: top;
    padding: 0 20px;
    margin: 30px 0;
}

.meeting-item {
    width: 95%;
    position: relative;
    margin: 0 auto; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    line-height: 1.5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    background-color: #f6f5f5;
    -webkit-box-shadow: 3px 5px 12px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 5px 12px 0px rgba(66, 68, 90, 1);
    box-shadow: 3px 5px 12px 0px rgba(66, 68, 90, 1);
}

.meeting-item p.title{
    font-size: large;
    cursor: pointer;
}

.meeting-item p.title:hover{
    color: #e0dbdb;
}

.meeting-item p {
    margin: 5px 0;
    color: #ffff;
    font-weight: bold;
}

.meeting-item.red {
    background-color: rgba(255, 0, 0, 0.7);
}

.meeting-item.green {
    background-color: rgba(24, 140, 0, 0.8);

}

.meeting-item p {
    margin: 0;
}

.meeting-item .action-button {
    position: absolute;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
}

.meeting-item .edit-button {
    right: 40px;
    color: #ffffff;
}

.meeting-item .delete-button {
    right: 10px;
    color: #ffffff;
}

.meeting-item .add-user-button {
    right: 70px;
    color: #fff;
}

.meeting-item .action-button:hover {
    color: #e0dbdb;
}

.add-button {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.add-button button {
    height:50px; 
    width: 10rem;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    background-color: #29b6f6;
    color: #fff;
}

.add-button button:hover {
    background-color: #1e88e5; 
}

.planner {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.planner-title-text{
    padding: 5px;
    text-transform: uppercase;
    /*font-size: 15px;*/
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.calendar {
    vertical-align: top;
    display: inline-block; 
    float: right;
    background-color: #fff;
    color: #5e5e5e;
    width: 65%;
    padding: 0 10px;
    margin: 10px;
    border-radius: 15px;
    border-spacing: 0; 
}

Table tbody {
    display: block;
    max-height: 70vh;
    overflow: auto;
}

Table thead,
Table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

Table {
    border-collapse: collapse; 
    color: #5e5e5e !important;
}

tr .hour {
    width: 60px;
    text-align: right;
    border: none;
}

th:nth-child(1) {
    width: 60px;
    border: none;
}

th{
    width: 100px; 
    height: 2rem;
    padding: 10px; 
    text-align: center;
}

.weekday {
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.weekday:hover {
    background-color: #edeaea;
}

h1 {
    text-align: center;
}

.month {
    display: block;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
}
.week-buttons {
    display: flex;
    justify-content: center;
}

.week-buttons button:hover {
    color: #1e88e5; 
}

.week-buttons button {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    background-color: #fff;
    color: #29b6f6;
}

.meeting {
    background-color: #29b6f6;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.75rem;
    text-align: center;
}

.meeting:hover {
    background-color: #007bff;
}

@media (max-width: 1024px) {
    .dashboard {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .left-panel {
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 0 20px;
    }

    .meeting-item {
        width: 100%;
        margin: 10px 0;
    }

    .planner {
        margin-top: 10px;
        width: 90vw;
        max-height: 40vh;
        overflow-y: auto;
        display: block;
    }

    .calendar {
        margin: 10px;
        position: relative;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        border-spacing: 0; 
    }
}