.login-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.login-container form {
    width: 400px;
    margin: 0.5rem;
    padding: 2rem;
    background: #ffffff;
    border-radius: 15px;
}

.login-container h2 {
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
    color: #29b6f6;
}

.login-container input {
    display: block;
    border: 1px solid #ced4da; 
    margin: 20px 0;
    height: 38px; 
    border-radius: 5px;
}

.login-container .create-account {
    padding: 30px;
    margin-top: 40px;
    color: #3e3e3e;
}

.login-container a {
    color: #3e3e3e;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container .btn-login {
    width: 100%;
    height: 45px; 
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #656d6d !important;
    color: #c7c3c3;
}

.login-container .btn-login:enabled {
    background-color: #29b6f6 !important;
    color: #fff;
    cursor: pointer;
}

.error {
    color: #ff0000;
}

.success {
    color: #008000;
}
